<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74759840582-qns3ocsd6a8dbgkitk7vubr8d4ne5obo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74759840582-qns3ocsd6a8dbgkitk7vubr8d4ne5obo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>74759840582-2t732f04d6rvrc8k2bii27akdlgkrrm2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv6vrEBPKDecCOqtFxi-YUsD3oCK9EBe0</string>
	<key>GCM_SENDER_ID</key>
	<string>74759840582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shynhapp</string>
	<key>PROJECT_ID</key>
	<string>phone-firebase-2fc18</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-firebase-2fc18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74759840582:ios:2c067c789dfedd9b373b47</string>
</dict>
</plist>